In [12]:
import featuretools.primitives as primitives

In [13]:
?primitives

自定义特征函数

In [1]:
import featuretools as ft
from featuretools.primitives import make_trans_primitive, Sum, Mean, Std
from featuretools.variable_types import Text, Numeric

In [2]:
def string_count(column, string=None):
    '''
    ..note:: this is a naive implementation used for clarity
    '''
    assert string is not None, "string to count needs to be defined"
    counts = [element.lower().count(string) for element in column]
    return counts

In [3]:

def string_count_get_name(self):
    return u"STRING_COUNT(%s, %s)" % (self.base_features[0].get_name(),
                                      '"'+str(self.kwargs['string']+'"'))

In [4]:
StringCount = make_trans_primitive(function=string_count,
                                   input_types=[Text],
                                   return_type=Numeric,
                                   cls_attributes={"get_name": string_count_get_name})

In [5]:
from featuretools.tests.testing_utils import make_ecommerce_entityset

es = make_ecommerce_entityset()
count_the_feat = StringCount(es['log']['comments'], string="the")

原始日志数据

In [ ]:
es['log'].df.head()

统计日志表的评论字段出现the的求和值、平均值、标准差

In [6]:
feature_matrix, features = ft.dfs(entityset=es,
                                      target_entity="sessions",
                                      agg_primitives=[Sum, Mean, Std],
                                      seed_features=[count_the_feat])
feature_matrix[['STD(log.STRING_COUNT(comments, "the"))', 'SUM(log.STRING_COUNT(comments, "the"))', 'MEAN(log.STRING_COUNT(comments, "the"))']]

,"STD(log.STRING_COUNT(comments, ""the""))","SUM(log.STRING_COUNT(comments, ""the""))","MEAN(log.STRING_COUNT(comments, ""the""))"
id,,,
0,47.124304,209,41.80
1,36.509131,109,27.25
2,NaN,29,29.00
3,49.497475,70,35.00
4,0.000000,0,0.00
5,1.414214,4,2.00

,id,session_id,product_id,datetime,value,value_2,latlong,latlong2,value_many_nans,priority_level,purchased,comments
0,0,0,coke zero,2011-04-09 10:30:00,0.0,0.0,"(0.0, 0.0)","(0.0, 0.0)",NaN,0,True,"\nWhen it comes to Coca-Cola products, people ..."
1,1,0,coke zero,2011-04-09 10:30:06,5.0,2.0,"(5.0, 2.0)","(2.0, -5.0)",NaN,0,True,I loved it
2,2,0,coke zero,2011-04-09 10:30:12,10.0,4.0,"(10.0, 4.0)","(4.0, -10.0)",NaN,1,True,I loved it
3,3,0,car,2011-04-09 10:30:18,15.0,6.0,"(15.0, 6.0)","(6.0, -15.0)",NaN,1,True,\nThe full-size pickup truck and the V-8 engin...
4,4,0,car,2011-04-09 10:30:24,20.0,8.0,"(20.0, 8.0)","(8.0, -20.0)",NaN,1,True,\nTHE GOOD\nThe Tesla Model S 90D's electric d...